{
  "_contentHash": "e7fa78399eaa35ab8b08a02c5bc7b3dd5093227975c421e1a0f5f11b3f43c92c",
  "_deployedAt": "2020-01-01T00:00:00.0000000Z",
  "entries": {
    "CardConfig": {
      "catalog": [
        "example_speed_burst",
        "example_road_grip"
      ],
      "baseCost": 100,
      "costPerPurchaseGrowth": 50
    }
  }
}
