{
  "_contentHash": "84132ed2fd17997385e1bfc475db8eeb766f7bcde666c6a12bcb3cdbdeba629f",
  "_deployedAt": "2020-01-01T00:00:00.0000000Z",
  "entries": {
    "CurrencyConfig": {
      "entries": [
        {
          "id": "gold",
          "initial": 15,
          "min": 0
        }
      ]
    }
  }
}
