{
  "_contentHash": "b489935697216186ae5f3923d18b95a528359c1b214665f7415be431f9e27c8e",
  "_deployedAt": "2020-01-01T00:00:00.0000000Z",
  "entries": {
    "RoguelikeConfig": {
      "gearPool": [
        "bipolar_tier1",
        "bipolar_tier2",
        "bipolar_tier3"
      ],
      "optionsPerRoll": 3
    }
  }
}
