{
  "entries": {
    "RoguelikeConfig": {
      "gearPool": [
        "radioactiveengine_tier3",
        "radioactiveengine_tier4",
        "radioactiveengine_tier5",
        "radioactiveengine_tier2",
        "radioactiveengine_tier1",
        "ouroboros_tier5",
        "ouroboros_tier2",
        "ouroboros_tier3",
        "ouroboros_tier4",
        "ouroboros_tier1",
        "racestartbuff_acceleration_tier4",
        "racestartbuff_acceleration_tier3",
        "racestartbuff_acceleration_tier2",
        "racestartbuff_acceleration_tier5",
        "racestartbuff_acceleration_tier1",
        "temporaryboost_acceleration_tier1",
        "temporaryboost_acceleration_tier4",
        "temporaryboost_acceleration_tier3",
        "temporaryboost_acceleration_tier2",
        "temporaryboost_acceleration_tier5",
        "vampiricengine_tier1",
        "vampiricengine_tier3",
        "vampiricengine_tier4",
        "vampiricengine_tier5",
        "vampiricengine_tier2",
        "quantumlink_tier1",
        "quantumlink_tier2",
        "quantumlink_tier5",
        "quantumlink_tier4",
        "quantumlink_tier3",
        "cursedsynergy_tier2",
        "cursedsynergy_tier5",
        "cursedsynergy_tier4",
        "cursedsynergy_tier3",
        "cursedsynergy_tier1",
        "racestartbuff_speed_tier4",
        "racestartbuff_speed_tier3",
        "racestartbuff_speed_tier2",
        "racestartbuff_speed_tier5",
        "racestartbuff_speed_tier1",
        "adjacentsynergy_tier1",
        "adjacentsynergy_tier3",
        "adjacentsynergy_tier4",
        "adjacentsynergy_tier5",
        "adjacentsynergy_tier2",
        "racestartbuff_handling_tier1",
        "racestartbuff_handling_tier2",
        "racestartbuff_handling_tier5",
        "racestartbuff_handling_tier4",
        "racestartbuff_handling_tier3",
        "temporaryboost_speed_tier5",
        "temporaryboost_speed_tier2",
        "temporaryboost_speed_tier3",
        "temporaryboost_speed_tier4",
        "temporaryboost_speed_tier1",
        "temporaryboost_handling_tier5",
        "temporaryboost_handling_tier2",
        "temporaryboost_handling_tier3",
        "temporaryboost_handling_tier4",
        "temporaryboost_handling_tier1",
        "speedboost_tier2",
        "speedboost_tier5",
        "speedboost_tier4",
        "speedboost_tier3",
        "speedboost_tier1",
        "neighboroverclock_tier5",
        "neighboroverclock_tier2",
        "neighboroverclock_tier3",
        "neighboroverclock_tier4",
        "neighboroverclock_tier1",
        "gear_speed",
        "gear_core",
        "gear_base_2",
        "gear_score",
        "gear_base_1"
      ],
      "optionsPerRoll": 3
    }
  }
}
