{
  "_contentHash": "a28ca3c396a60094c925d4a182ec059b9f8f6140f9ef8d170a79612d87e30f45",
  "_deployedAt": "2020-01-01T00:00:00.0000000Z",
  "entries": {
    "TrackConfig": {
      "entries": [
        {
          "id": "OvalTrack",
          "baseReward": 10,
          "bands": [
            {
              "maxSec": 40.0,
              "r": 900
            },
            {
              "maxSec": 55.0,
              "r": 650
            },
            {
              "maxSec": 75.0,
              "r": 400
            },
            {
              "maxSec": 99999.0,
              "r": 150
            }
          ]
        },
        {
          "id": "CircleTrack",
          "baseReward": 10,
          "bands": [
            {
              "maxSec": 40.0,
              "r": 900
            },
            {
              "maxSec": 55.0,
              "r": 650
            },
            {
              "maxSec": 75.0,
              "r": 400
            },
            {
              "maxSec": 99999.0,
              "r": 150
            }
          ]
        }
      ]
    }
  }
}
